@import url(./fontello.css);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Montserrat:400,700);
/**
	Font face
**/
/****************************/
/** 	Variables
/****************************/
/****************************/
/**		Mixin
/***************************/
/****************************/
/**		Utilities
/***************************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.icon {
  font-family: "fontello";
  background-image: none;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

.full-height {
  height: 100%;
}

/****************************/
/**		Layout
/***************************/
a {
  color: #2db9ce;
  transition: color .25s;
}
a:hover {
  color: #2493a4;
  text-decoration: none;
}

input, button, textarea {
  font-family: 'Source Sans Pro', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body {
  height: 100%;
  position: relative;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  line-height: 1.9em;
  letter-spacing: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  margin: 0;
  -webkit-font-smoothing: antialiased !important;
  background: #fafafa;
  overflow-y: auto;
}

#wrapper .back-to-dashboard {
  position: fixed;
  top: 0;
  left: 0.5em;
}
#wrapper .back-to-dashboard a {
  color: #777777;
}
#wrapper .back-to-dashboard a:hover {
  color: #919191;
}
#wrapper .home-container {
  margin: 0 auto;
  display: block;
  float: none;
  width: 20em;
}
#wrapper .home-container .home-body {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#wrapper .home-container .home-body .home-logo {
  text-align: center;
  position: relative;
}
#wrapper .home-container .home-body .home-logo .logo {
  width: 100%;
  margin: 0;
}
#wrapper .home-container .home-body .home-logo .logo a {
  font-family: 'Montserrat', Verdana, sans-serif;
}
#wrapper .home-container .home-body .home-logo .logo a svg {
  width: 100px;
  height: 100px;
}
#wrapper .home-container .home-body #authenticate {
  text-align: center;
}
#wrapper .home-container .home-body #authenticate h2 {
  font-family: 'Montserrat', Verdana, sans-serif;
  margin: 0;
  text-transform: uppercase;
}
#wrapper .home-container .home-body #authenticate .home-content {
  padding: 1em;
  background: white;
  margin-top: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#wrapper .home-container .home-body #authenticate .home-content .login, #wrapper .home-container .home-body #authenticate .home-content .signup {
  -webkit-font-smoothing: antialiased;
}
#wrapper .home-container .home-body #authenticate .home-content #sign-with-facebook > a, #wrapper .home-container .home-body #authenticate .home-content #log-with-facebook > a {
  background: #3c599b;
  padding: .5em 1em;
  color: white;
  display: block;
  cursor: pointer;
  transition: background .25s linear;
  border-radius: 3px;
}
#wrapper .home-container .home-body #authenticate .home-content #sign-with-facebook > a .icon, #wrapper .home-container .home-body #authenticate .home-content #log-with-facebook > a .icon {
  margin-right: 1em;
}
#wrapper .home-container .home-body #authenticate .home-content #sign-with-facebook > a:hover, #wrapper .home-container .home-body #authenticate .home-content #log-with-facebook > a:hover {
  background: #4364ad;
}
#wrapper .home-container .home-body #authenticate .home-content .form {
  margin: 0;
}
#wrapper .home-container .home-body #authenticate .home-content .form .form-group {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: .5em;
}
#wrapper .home-container .home-body #authenticate .home-content .form .form-group:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0 45%;
  width: 10%;
  border-top: 1px solid white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  transition: width .3s, margin .3s;
}
#wrapper .home-container .home-body #authenticate .home-content .form .form-group.focus:after {
  left: 0;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #2db9ce;
}
#wrapper .home-container .home-body #authenticate .home-content .form .form-group.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}
#wrapper .home-container .home-body #authenticate .home-content .form .form-group.bottom:after {
  border: 0;
}
#wrapper .home-container .home-body #authenticate .home-content .form .form-group .signup-button, #wrapper .home-container .home-body #authenticate .home-content .form .form-group .login-button {
  height: auto;
  line-height: 1.9em;
  font-size: 1em;
  margin: 1em 0 0;
  background: #2db9ce;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-shadow: none;
  color: white;
  border-radius: 3px;
  box-shadow: none;
  transition: background .25s;
}
#wrapper .home-container .home-body #authenticate .home-content .form .form-group .signup-button:hover, #wrapper .home-container .home-body #authenticate .home-content .form .form-group .login-button:hover {
  background: #3fc2d5;
}
#wrapper .home-container .home-body #authenticate .home-content .form .form-control {
  font-family: 'Source Sans Pro', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  height: auto;
  line-height: 1.9em;
  font-size: 1em;
  width: 100%;
  text-align: center;
  border: 0;
  margin: 0;
  box-shadow: none;
}
#wrapper .home-container .home-body .signup-page .separator {
  display: block;
  padding: .5em 0;
  position: relative;
}
#wrapper .home-container .home-body .signup-page .separator:before {
  content: '';
  width: 40%;
  position: absolute;
  height: 1px;
  left: 0;
  top: 55%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid white;
}
#wrapper .home-container .home-body .signup-page .separator:after {
  content: '';
  width: 40%;
  position: absolute;
  height: 1px;
  right: 0;
  top: 55%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid white;
}
#wrapper .home-container .home-body .signup-page .signup-footer a {
  cursor: pointer;
}
#wrapper .home-container .home-body .login-page .separator {
  display: block;
  height: 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid white;
}
#wrapper .home-container .home-body .login-page .login-footer a {
  cursor: pointer;
}
#wrapper .dashboard .sidebar {
  background: #4a5063;
  padding: 1em 0;
  color: #fafafa;
}
#wrapper .dashboard .sidebar .avatar {
  text-align: center;
  cursor: pointer;
}
#wrapper .dashboard .sidebar .avatar img {
  width: 50px;
  height: auto;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 3em;
}
#wrapper .dashboard .sidebar .avatar .avatar-circle {
  display: block;
  font-size: 3em;
  color: #2db9ce;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
#wrapper .dashboard .sidebar .nav-dashboard {
  padding-top: 3em;
}
#wrapper .dashboard .sidebar .nav-dashboard ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#wrapper .dashboard .sidebar .nav-dashboard ul li a {
  color: #969cb0;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 0 1em;
  padding: .5em 1em;
  display: block;
}
#wrapper .dashboard .sidebar .nav-dashboard ul li a .icon {
  margin-right: .5em;
}
#wrapper .dashboard .sidebar .nav-dashboard ul li a.logout .icon {
  position: relative;
  left: 2px;
}
#wrapper .dashboard .sidebar .nav-dashboard ul li a:hover {
  color: #d0d3dc;
}
#wrapper .dashboard .sidebar .nav-dashboard ul li:last-child a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#wrapper .dashboard .dashboard-content .content {
  padding: 1em 1em 1em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
#wrapper .dashboard .dashboard-content .content h3 {
  margin: 0;
}
#wrapper .dashboard .dashboard-content .chatt-list {
  padding: 1em 0;
}
#wrapper .dashboard .dashboard-content .chatt-list .create-chatt .chatt-name {
  padding: 0 0 .5em 0;
  width: 80%;
  background: none;
  line-height: normal;
  height: auto;
  font-size: 2em;
  margin: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: none;
  border-radius: 0;
  transition: all .25s;
  outline: 0;
}
#wrapper .dashboard .dashboard-content .chatt-list .create-chatt .chatt-name:focus {
  border-bottom: 1px solid #2db9ce;
}
#wrapper .dashboard .dashboard-content .chatt-list .chatts {
  list-style-type: none;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#wrapper .dashboard .dashboard-content .chatt-list .chatts li a {
  display: block;
  position: relative;
  padding: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#wrapper .dashboard .dashboard-content .chatt-list .chatts li a .last-dialog {
  font-size: .7em;
  position: absolute;
  right: 1em;
}
#wrapper .dashboard .dashboard-content .chatt-list .chatts li:last-child a {
  border-bottom: 0;
}
#wrapper .chatt-container {
  min-width: 25em;
  min-height: 100%;
  margin: 0 auto;
  float: none;
  max-width: 40em;
  padding: 0 1em;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-top: 0;
  border-bottom: 0;
}
#wrapper .chatt-container .chatt-title {
  margin: 0;
  padding: 1em 0;
}
#wrapper .chatt-container .chatt-content {
  padding-bottom: 10em;
  font-size: .8em;
}
#wrapper .chatt-container .chatt-content #dialogs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#wrapper .chatt-container .chatt-content #dialogs .dialog {
  padding: 1em 0 0;
}
#wrapper .chatt-container .chatt-content #dialogs .dialog:first-child {
  padding-top: 0;
}
#wrapper .chatt-container .chatt-content #dialogs .dialog.different-from-above + .same-with-above {
  padding-top: 0;
  padding-bottom: 1em;
}
#wrapper .chatt-container .chatt-content #dialogs .dialog.same-with-above {
  padding-left: 2.5em;
}
#wrapper .chatt-container .chatt-content #dialogs .dialog.same-with-above + .same-with-above {
  padding-top: 0;
  padding-bottom: 1em;
}
#wrapper .chatt-container .chatt-content #dialogs .dialog .avatar-container {
  cursor: pointer;
  position: relative;
}
#wrapper .chatt-container .chatt-content #dialogs .dialog .avatar-container img {
  width: 1.85em;
  border-radius: 3em;
}
#wrapper .chatt-container .chatt-content #dialogs .dialog .avatar-container img.own-by-me {
  box-shadow: 0 0 0 2px #c2d4a0;
}
#wrapper .chatt-container .chatt-content #dialogs .dialog .avatar-container .avatar-circle {
  display: block;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: .8em;
  width: 2.3em;
  height: 2.3em;
  border-radius: 3em;
  transition: box-shadow .25s;
}
#wrapper .chatt-container .chatt-content #dialogs .dialog .avatar-container .avatar-circle.own-by-me {
  border: 0;
  box-shadow: 0 0 0 2px #c2d4a0;
}
#wrapper .chatt-container .chatt-content #dialogs .dialog .avatar-container:hover .avatar-circle {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
#wrapper .chatt-container .chatt-content #dialogs .dialog .dialog-content {
  padding-left: .5em;
}
#wrapper .chatt-input {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  float: none;
  padding: 0 1em;
}
#wrapper .chatt-input .input-content {
  min-width: 25em;
  max-width: 30em;
  margin: 0 auto;
  float: none;
  background: white;
  padding: .5em 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
#wrapper .chatt-input .input-content .chatt-register {
  font-size: .8em;
}
#wrapper .chatt-input .input-content .chatt-register .anonymous {
  cursor: pointer;
}
#wrapper .chatt-input .input-content .anon-name {
  border: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  line-height: 2;
  height: auto;
  width: 100%;
}
#wrapper .chatt-input .input-content .avatar-container {
  cursor: pointer;
}
#wrapper .chatt-input .input-content .avatar-container img {
  border-radius: 3em;
}
#wrapper .chatt-input .input-content .avatar-container .avatar-circle {
  display: block;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: .5em .5em .8em;
  border-radius: 3em;
  transition: box-shadow .25s;
}
#wrapper .chatt-input .input-content .avatar-container:hover .avatar-circle {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
#wrapper .chatt-input .input-content .chatt-input-text #chatt-entry {
  margin: 0;
}
#wrapper .chatt-input .input-content .chatt-input-text #chatt-entry textarea {
  box-shadow: none;
  border: 0;
  padding: 0;
  margin: 0;
  line-height: 1.4em;
  width: 100%;
  resize: none;
}
#wrapper .app-content {
  position: relative;
}
#wrapper .app-content .for-ie {
  position: absolute;
  top: 3em;
  left: 3em;
  width: 150px;
  font-size: .8em;
}
#wrapper .app-content .chatt-body-container .chatt-body {
  padding-top: 1em;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs {
  margin: 0;
  padding: 0 0 10em;
  list-style: none;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .dialog {
  position: relative;
  transition: background .5s linear;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .dialog.unseen {
  background: #ffdc00;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .dialog.guest .dialog-cloud {
  width: 50%;
  border-right: 2px solid rgba(0, 0, 0, 0.15);
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .dialog.mine .dialog-cloud {
  width: 50.25%;
  border-left: 2px solid rgba(0, 0, 0, 0.15);
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .dialog .dialog-cloud {
  padding: 1em 0;
  position: relative;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .dialog .chatter-name {
  position: absolute;
  bottom: 1em;
  font-size: .8em;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .dialog .chatt-dialog {
  width: 100%;
  display: block;
  padding: 1em;
  background: #2db9ce;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .dialog .chatt-time {
  position: absolute;
  bottom: 1em;
  font-size: .8em;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .new-notification .new-message {
  background: #ffdc00;
  padding: .5em 1em;
  color: rgba(0, 0, 0, 0.35);
}
#wrapper .app-content .chatt-input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1em 0;
  background: #fafafa;
}
#wrapper .app-content .chatt-input-container .chatt-input-inner .not-connected {
  font-size: 1.2em;
  color: #f56f6c;
}
#wrapper .app-content .chatt-input-container .chatt-input-inner .add-name {
  background: transparent;
  background: #aaaaaa \9;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  font-size: 2em;
  line-height: 2;
  height: 2em;
  box-shadow: none;
  transition: all .25s linear;
}
#wrapper .app-content .chatt-input-container #chatt-input {
  position: relative;
}
#wrapper .app-content .chatt-input-container #chatt-input .chatt-name {
  position: relative;
  top: 0;
  left: 0;
  line-height: 2;
  margin-right: 2em;
}
#wrapper .app-content .chatt-input-container #chatt-input .chatt-input {
  background: transparent;
  background: #aaaaaa \9;
  padding: 0;
  margin: 0;
  border: 0;
  width: 80%;
  height: 2em;
  box-shadow: none;
  transition: all .25s linear;
}
#wrapper .app-content .chatt-input-container #chatt-input .toggle-text {
  position: absolute;
  right: 0;
  line-height: 2;
  cursor: pointer;
}
#wrapper .app-content .chatt-input-container #chatt-input .toggle-text.upper {
  color: #2db9ce;
  text-shadow: 0 1px 2px rgba(126, 234, 255, 0.35);
  transition: all .25s ease-in-out;
}
#wrapper .app-content .chatt-input-container #chatt-input .toggle-text.lower {
  color: #777777;
  text-shadow: 0 0 0 transparent;
  transition: all .25s ease-in-out;
}
#wrapper .app-content .chatt-input-container #chatt-input .toggle-text .first-text {
  font-size: .8em;
}
#wrapper .app-content .chatt-input-container #chatt-input .toggle-text .second-text {
  font-size: 1.2em;
}
#wrapper .app-content .chatt-input-container #chatt-input .notification-switch {
  cursor: pointer;
}
#wrapper .app-content .chatt-input-container #chatt-input.focus .chatt-input {
  line-height: 2;
  font-size: 2em;
  height: 2em;
  padding: 0;
}
#wrapper .app-content .chatt-input-container #chatt-input.focus.large .chatt-input {
  font-size: 1em;
  padding: 0;
}

.transition {
  -webkit-backface-visibility: hidden;
  transition: all 0.3s !important;
}
.transition.from-top {
  opacity: 0;
  transform: translateY(-60%);
}
.transition.from-left {
  opacity: 0;
  transform: translateX(-101%);
}
.transition.center {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.transition.superscale {
  transform: scale(2);
}
.transition.scale {
  transform: scale(1);
}
.transition.removing {
  background: #f56f6c !important;
  color: #fafafa;
}
