/****************************/
/** 	Variables
/****************************/
/****************************/
/**		Mixin
/***************************/
/****************************/
/**		Utilities
/***************************/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.icon {
  font-family: "fontello";
  background-image: none;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

input[type="submit"],
input[type="button"],
button,
select {
  outline: 0;
}

.brad-top {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

.brad-top-left {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  -ms-border-radius: 3px 0 0 0;
  -o-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}

.brad-top-right {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  -ms-border-radius: 0 3px 0 0;
  -o-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.brad-bottom {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}

.brad-bottom-left {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  -ms-border-radius: 0 0 0 3px;
  -o-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}

.brad-bottom-right {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  -ms-border-radius: 0 0 3px 0;
  -o-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
}

/****************************/
/**		Layout
/***************************/
html,
body {
  height: 100%;
  position: relative;
}

body {
  font-family: open-sans, sans-serif;
}

#wrapper .app-content {
  position: relative;
}
#wrapper .app-content .for-ie {
  position: absolute;
  top: 3em;
  left: 3em;
  width: 150px;
  font-size: .8em;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs {
  margin: 0;
  padding: 0 0 10em;
  list-style: none;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .dialog {
  position: relative;
  border-bottom: 1px solid #fafafa;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1em;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .dialog.unseen {
  background: #ffdc00;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .dialog .chatter-name {
  margin-right: 1em;
  max-width: 10%;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .dialog .chatt-dialog {
  max-width: 90%;
  display: inline-block;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .dialog .chatt-time {
  position: absolute;
  right: 0;
  font-size: .8em;
}
#wrapper .app-content .chatt-body-container .chatt-body .chatt-dialogs .new-notification .new-message {
  background: #ffdc00;
  padding: .5em 1em;
  color: rgba(0, 0, 0, 0.35);
}
#wrapper .app-content .chatt-input-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1em 0;
  background: #fafafa;
}
#wrapper .app-content .chatt-input-container .chatt-input-inner .not-connected {
  font-size: 1.2em;
  color: #f56f6c;
}
#wrapper .app-content .chatt-input-container .chatt-input-inner .add-name {
  background: transparent;
  background: #aaaaaa \9;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  font-size: 2em;
  line-height: 2;
  height: 2em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#wrapper .app-content .chatt-input-container #chatt-input {
  position: relative;
}
#wrapper .app-content .chatt-input-container #chatt-input .chatt-name {
  position: relative;
  top: 0;
  left: 0;
  line-height: 2;
  margin-right: 2em;
}
#wrapper .app-content .chatt-input-container #chatt-input .chatt-input {
  background: transparent;
  background: #aaaaaa \9;
  padding: 0;
  margin: 0;
  border: 0;
  width: 80%;
  height: 2em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
#wrapper .app-content .chatt-input-container #chatt-input .toggle-text {
  position: absolute;
  right: 0;
  line-height: 2;
  cursor: pointer;
}
#wrapper .app-content .chatt-input-container #chatt-input .toggle-text.upper {
  color: #7eeaff;
  text-shadow: 0 1px 2px rgba(126, 234, 255, 0.35);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#wrapper .app-content .chatt-input-container #chatt-input .toggle-text.lower {
  color: #777777;
  text-shadow: 0 0 0 transparent;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
#wrapper .app-content .chatt-input-container #chatt-input .toggle-text .first-text {
  font-size: .8em;
}
#wrapper .app-content .chatt-input-container #chatt-input .toggle-text .second-text {
  font-size: 1.2em;
}
#wrapper .app-content .chatt-input-container #chatt-input .notification-switch {
  cursor: pointer;
}
#wrapper .app-content .chatt-input-container #chatt-input.focus .chatt-input {
  line-height: 2;
  font-size: 2em;
  height: 2em;
  padding: 0;
}
#wrapper .app-content .chatt-input-container #chatt-input.focus.large .chatt-input {
  font-size: 1em;
  padding: 0;
}

.transition {
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s !important;
  -moz-transition: all 0.3s !important;
  -o-transition: all 0.3s !important;
  transition: all 0.3s !important;
}
.transition.from-top {
  opacity: 0;
  -webkit-transform: translateY(-60%);
  -moz-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  -o-transform: translateY(-60%);
  transform: translateY(-60%);
}
.transition.from-left {
  opacity: 0;
  -webkit-transform: translateX(-101%);
  -moz-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  -o-transform: translateX(-101%);
  transform: translateX(-101%);
}
.transition.center {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.transition.superscale {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
}
.transition.scale {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.transition.removing {
  background: #f56f6c !important;
  color: #fafafa;
}
