<template name="dashboard">
	<div class="full-height">
	    <div class="row-fluid full-height">
	        <div class="dashboard full-height">
				{{> sidebar}}
				<div class="dashboard-content span10">
					<div class="container-fluid">
						<header class="content">
							<h3>Welcome {{username}}</h3>
						</header>
						<div class="chatt-list">
							{{#if no_chat}}
							<p>It looks like you haven't join any chat session yet. Why don't create one and share it with someone?</p>
							<div class="create-chatt">
								<input type="text" class="chatt-name" placeholder="Type your Chatt name and press Enter to join" required>
							</div>
							{{else}}
							{{#if creating_chatt}}
							<p>Creating Chatt Session...</p>
							{{else}}
							<h5>Chatt History</h5>
							<ul class="chatts">
								{{#each chatt}}
								<li class="chatt">
									<a href="{{pathFor 'chatt'}}">
									{{chatt_name}}
									<span class="last-dialog pull-right">{{last_chat}}</span>
									</a>
								</li>
								{{/each}}
							</ul>
							{{/if}}
							{{/if}}
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</template>