<template name="dashboard">
	<div class="full-height">
	    <div class="row-fluid full-height">
	        <div class="dashboard full-height">
				<aside class="sidebar full-height span2">
					<header class="avatar">
					{{#if avatar_url}}
						<img src="{{avatar_url}}" alt="Profile Picture">
					{{else}}
						<span class="avatar-circle">
							<i class="icon">h</i>
						</span>
					{{/if}}
					<h4>{{username}}</h4>
					</header>
					<nav class="nav-dashboard">
						<ul>
							<li><a href="{{pathFor 'profile'}}" class="to-profile"><i class="icon">k</i>Profile</a></li>
							<li><a href="{{pathFor 'settings'}}" class="to-settings"><i class="icon">D</i>Settings</a></li>
							<li><a class="logout"><i class="icon">G</i>Logout</a></li>
						</ul>
					</nav>
				</aside>
				<div class="dashboard-content span10">
					<div class="container-fluid">
						<header class="content">
							<h3>Welcome {{username}}</h3>
						</header>
						<div class="chatt-list">
							{{#if no_chat}}
							<p>It looks like you haven't join any chat session yet. Why don't create one and share it with someone?</p>
							<div class="create-chatt">
								<input type="text" class="chatt-name" placeholder="Type your Chatt name and press Enter to join" required>
							</div>
							{{else}}
							{{#if creating_chatt}}
							<p>Creating Chatt Session...</p>
							{{else}}
							<h5>Chatt History</h5>
							<ul class="chatts">
								{{#each chatt}}
								<li class="chatt">
									<a href="{{pathFor 'chatt'}}">
									{{chatt_name}}
									<span class="last-dialog pull-right">{{last_chat}}</span>
									</a>
								</li>
								{{/each}}
							</ul>
							{{/if}}
							{{/if}}
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</template>