<template name="profile">
	<div class="full-height">
	    <div class="row-fluid full-height">
	        <div class="dashboard full-height">
				{{> sidebar}}
				<div class="profile-content span10">
					<div class="container-fluid">
						<header class="content">
							<h3>Profile</h3>
						</header>
						{{#with user}}
						<div class="profile-entry">
							<form id="profile">
								<div class="container-fluid">
									<div class="row-fluid">
										<h4>Account Information</h4>
										<div class="form-group span6">
											<span class="label">Username</span>
											<input type="username" class="username form-control" spellcheck="false" value="{{username}}">
										</div>
										<div class="form-group span6">
											<span class="label">Email</span>
											<input type="email" class="email form-control" spellcheck="false" value="{{email}}">
										</div>
									</div>
									<div class="row-fluid">
										<h4>Personal Information</h4>
										<div class="form-group span6">
											<span class="label">First Name</span>
											<input type="fname" class="fname form-control" spellcheck="false" value="{{fname}}">
										</div>
										<div class="form-group span6">
											<span class="label">Last Name</span>
											<input type="lname" class="lname form-control" spellcheck="false" value="{{lname}}">
										</div>
									</div>
									<div class="row-fluid">
										<div class="form-group">
											<button type="submit" class="submit-profile btn btn-success form-control">Save</button>
										</div>
									</div>
								</div>
							</form>
							<form id="password">
								<div class="container-fluid">
									<div class="row-fluid">
										<h4>Change your password</h4>
										<div class="form-group span6">
											<span class="label">Old Password</span>
											<input type="password" class="old-password form-control">
										</div>
										<div class="form-group span6">
											<span class="label">New Password</span>
											<input type="password" class="new-password form-control">
										</div>
									</div>
									<div class="row-fluid">
										<div class="form-group">
											<button type="submit" class="submit-password btn btn-success form-control">Change</button>
										</div>
									</div>
								</div>
							</form>									
						</div>
						{{/with}}
					</div>
				</div>
			</div>
	    </div>
	</div>
</template>