<template name="chatt">
	<div class="container-fluid full-height">
	    <div class="row-fluid full-height">
	        <div class="chatt-container span4 full-height">
	        	<header class="chatt-title"><h3>{{title}}</h3></header>
	        	<div class="chatt-content">
	        		<ul id="dialogs">
	        			{{#each dialog}}
	        			{{> dialog_cloud}}
	        			{{/each}}
	        		</ul>
	        	</div>
	        </div>
	    </div>
	</div>
	{{> chatt_input}}
</template>

<template name="dialog_cloud">
	{{#isolate}}
	{{#if not_the_same}}
	<li class="dialogs" data-chatter="{{chatterId}}">{{dialog}}</li>
	{{else}}
	<li class="dialogs" data-chatter="{{chatterId}}">The same - {{dialog}}</li>
	{{/if}}
	{{/isolate}}
</template>