<template name="chatt">
	{{#unless anon_user}}
	{{> back_to_dashboard}}
	{{/unless}}
	<div class="container-fluid full-height">
	    <div class="row-fluid full-height">
	        <div class="chatt-container span4">
	        	<header class="chatt-title">
	        		<h3>{{title}}</h3>
	        	</header>
	        	<div class="chatt-content">
	        		<ul id="dialogs" class="container-fluid">
	        		{{#isolate}}
	        			{{#each dialog}}
	        				<li class="dialog {{person}} row-fluid" data-chatter="{{chatterId}}">
	        					{{#unless same_person}}
	        					{{> avatar}}
	        					{{/unless}}
	        					<div class="dialog-content {{#unless same_person}}span11{{/unless}}">
	        						{{{dialog_body}}}
	        						<span class="timestamp">{{time}}</span>
	        					</div>
	        				</li>
	        			{{/each}}
	        		{{/isolate}}
	        		</ul>
	        	</div>
	        </div>
	    </div>
	</div>
	{{> chatt_input}}
</template>

<template name="avatar">
	<div class="avatar-container span1" title="{{chatter_name}}">
	{{#if avatar}}
		<img src="{{avatar_url}}" class="{{current_chatter}}" alt="Profile Picture">
	{{else}}
		<span class="avatar-circle {{current_chatter}}">{{first_letter}}</span>
	{{/if}}
	</div>
</template>

<template name="back_to_dashboard">
	<div class="back-to-dashboard">
		<a href="/dashboard/{{username}}" title="Back to Dashboard"><i class="icon">k</i></a>
	</div>
</template>