
@import "./fontello.css";

/**
	Font face
**/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Montserrat:400,700);

/****************************/

/** 	Variables
/****************************/

$white: #fff;
$gray: #fafafa;
$darkGray: #777;
$black: #191C21;
$red: #F56F6C;
$darkBlue: #4A5063;
$yellow : #FFDC00;
$lightBlue : #2DB9CE;
$lightGreen: #C2D4A0;
$facebook : #3C599B;

/****************************/

/**		Mixin
/***************************/

@mixin clearfix() {

	*zoom: 1;

	&:before, &:after {

		content: " ";

		display: table;

	}

	&:after {

		clear: both;

	}

}

@mixin userSelect() {

	-webkit-touch-callout: none;

	-webkit-user-select: none;

	-khtml-user-select: none;

	-moz-user-select: moz-none;

	-ms-user-select: none;

	user-select: none;

}

/****************************/

/**		Utilities
/***************************/

// http: //www.paulirish.com/2012/box-sizing-border-box-ftw

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.icon {
	font-family: "fontello";
	background-image: none;
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}

.full-height {
	height: 100%;
	// min-height: 100% !important;
}

@mixin vertical-align {
	position: relative;
	top: 50%;
	transform : translateY(-50%);
}

/****************************/

/**		Layout
/***************************/

a {
	color: $lightBlue;
	transition : color .25s;
	&:hover {
		color: darken($lightBlue, 10%);
		text-decoration: none;
	}
}

input, button, textarea {
	font-family: 'Source Sans Pro', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

html, body {
	height: 100%;
	position: relative;
}

body {
	font-family: 'Source Sans Pro', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
	line-height: 1.9em;
	letter-spacing: 0px;
	font-weight: normal;
	font-style: normal;
	font-size: 17px;
	margin: 0;
	-webkit-font-smoothing: antialiased !important;
	background: $gray;
	overflow-y: auto;
}

#wrapper {
	.back-to-dashboard {
		position: fixed;
		top: 0;
		left: 0.5em;
		a {
			color: $darkGray;
			&:hover {
				color : lighten($darkGray, 10%);
			}
		}
	}
	.home-container {
		margin: 0 auto;
		display: block;
		float: none;
		width: 20em;

		.home-body {
			@include vertical-align;

			.home-logo {
				text-align: center;
				position: relative;
				.logo {
					width: 100%;
					margin: 0;
					a {
						font-family: 'Montserrat', Verdana, sans-serif;
						svg {
							width: 100px;
							height: 100px;
						}
					}
				}
			}

			#authenticate {
				text-align: center;
				h2 {
					font-family: 'Montserrat', Verdana, sans-serif;
					margin: 0;
					text-transform: uppercase;
				}

				.home-content {
					padding: 1em;
					background: $white;
					margin-top: 1em;
					border: 1px solid rgba(0,0,0, .1);
					border-top: 1px solid rgba(0,0,0, .15);
					border-bottom: 1px solid rgba(0,0,0, .15);

					.login, .signup {
						-webkit-font-smoothing: antialiased;
					}

					#sign-with-facebook > a, #log-with-facebook > a {
						background: $facebook;
						padding: .5em 1em;
						color: white;
						display: block;
						cursor: pointer;
						transition : background .25s linear;
						border-radius : 3px;

						.icon {
							margin-right: 1em;
						}

						&:hover {
							background: lighten($facebook, 5%);
						}
					}

					.form {
						margin: 0;
						.form-group {
							position: relative;
							margin-bottom: 1em;
							padding-bottom: .5em;
							&:after {
								content: '';
								position: absolute;
								bottom: 0;
								left: 0;
								margin: 0 45%;
								width: 10%;
								border-top: 1px solid $white;
								border-bottom: 1px solid rgba(0,0,0, .1);
								transition : width .3s, margin .3s;
							}

							&.focus {
								&:after {
									left: 0;
									margin: 0;
									width: 100%;
									border-bottom: 1px solid $lightBlue;
								}
							}

							&.bottom {
								margin-bottom: 0;
								padding-bottom: 0;
								&:after {
									border : 0;
								}
							}

							.signup-button, .login-button {
								height: auto;
								line-height: 1.9em;
								font-size: 1em;
								margin: 1em 0 0;
								background: $lightBlue;
								border: 1px solid rgba(0,0,0, .1);
								text-shadow: none;
								color: $white;
								border-radius : 3px;
								box-shadow : none;
								transition : background .25s;

								&:hover {
									background: lighten($lightBlue, 5%);
								}
							}
						}
						.form-control {
							font-family: 'Source Sans Pro', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
							height: auto;
							line-height: 1.9em;
							font-size: 1em;
							width: 100%;
							text-align: center;
							border: 0;
							margin: 0;
							box-shadow : none;
						}
					}
				}
			}

			.signup-page {
				.separator {
					display: block;
					padding: .5em 0;
					position: relative;

					&:before {
						content: '';
						width: 40%;
						position: absolute;
						height: 1px;
						left: 0;
						top: 55%;
						border-bottom: 1px solid rgba(0,0,0, .05);
						border-top: 1px solid rgba(255,255,255, 1);
					}

					&:after {
						content: '';
						width: 40%;
						position: absolute;
						height: 1px;
						right: 0;
						top: 55%;
						border-bottom: 1px solid rgba(0,0,0, .05);
						border-top: 1px solid rgba(255,255,255, 1);
					}
				}
				.signup-footer {
					a {
						cursor: pointer;
					}
				}
			}

			.login-page {
				.separator {
					display: block;
					height: 1px;
					border-bottom: 1px solid rgba(0,0,0, .05);
					border-top: 1px solid rgba(255,255,255, 1);
				}
				.login-footer {
					a {
						cursor: pointer;
					}
				}
			}
		}
	}

	.dashboard {
		.sidebar {
			background: $darkBlue;
			padding: 1em 0;
			color: $gray;

			.avatar {
				text-align: center;
				cursor: pointer;
				img {
					width: 50px;
					height: auto;
					box-shadow : 0 1px 1px rgba(0,0,0, .15);
					border-radius : 3em;
				}
				.avatar-circle {
					display: block;
					font-size: 3em;
					color: $lightBlue;
					text-shadow: 0 1px 1px rgba(0,0,0, .15);
				}
			}

			.nav-dashboard {
				padding-top: 3em;
				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					li {
						a {
							color: lighten($darkBlue, 30%);
							border-top: 1px solid rgba(0,0,0, .15);
							cursor: pointer;
							padding: 0 1em;
							padding: .5em 1em;
							display: block;

							.icon {
								margin-right: .5em;
							}
							&.logout {
								.icon {
									position: relative;
									left: 2px;
								}
							}
							&:hover {
								color: lighten($darkBlue, 50%);
							}
						}

						&:last-child {
							a {
								border-bottom: 1px solid rgba(0,0,0, .15);
							}
						}
					}
				}
			}
		}

		.dashboard-content {
			.content {
				padding: 1em 1em 1em 0;
				border-bottom: 1px solid rgba(0,0,0, .05);
				h3 {
					margin: 0;
				}
			}
			.chatt-list {
				padding: 1em 0;
				.create-chatt {
					.chatt-name {
						padding: 0 0 .5em 0;
						width: 80%;
						background: none;
						line-height: normal;
						height: auto;
						font-size: 2em;
						margin: 0;
						border: 0;
						border-bottom: 1px solid rgba(0,0,0, .15);
						box-shadow : none;
						border-radius : 0;
						transition : all .25s;
						outline: 0;

						&:focus {
							border-bottom: 1px solid $lightBlue;
						}
					}
				}

				.chatts {
					list-style-type: none;
					margin: 0;
					border: 1px solid rgba(0,0,0, .1);
					li {
						a {
							display: block;
							position: relative;
							padding: 1em;
							border-bottom: 1px solid rgba(0,0,0, .1);
							.last-dialog {
								font-size: .7em;
								position: absolute;
								right: 1em;
								// top: 35%;
							}
						}
						&:last-child {
							a {
								border-bottom: 0;
							}
						}
					}
				}
			}
		}
	}

	.chatt-container {
		min-width: 25em;
		min-height: 100%;
		margin: 0 auto;
		float: none;
		max-width: 40em;
		padding: 0 1em;
		position: relative;
		border: 1px solid rgba(0,0,0, .15);
		border-top: 0;
		border-bottom: 0;
		.chatt-title {
			margin: 0;
			padding: 1em 0;
		}
		.chatt-content {
			padding-bottom: 10em;
			font-size: .8em;
			#dialogs {
				list-style-type: none;
				margin: 0;
				padding: 0;
				.dialog {
					padding: 1em 0 0;

					&:first-child {
						padding-top: 0;
					}

					&.different-from-above {
						&+.same-with-above {
							padding-top: .5em;
							padding-bottom: .5em;
						}
					}

					&.same-with-above {
						padding-left: 2.5em;
						&+.same-with-above {
							padding-top: 0;
							padding-bottom: 1em;
						}
					}

					.avatar-container {
						cursor: pointer;
						position: relative;
						img {
							width: 1.85em;
							border-radius : 3em;

							&.own-by-me {
								box-shadow : 0 0 0 2px $lightGreen;
							}
						}
						.avatar-circle {
							display: block;
							text-align: center;
							border: 1px solid rgba(0,0,0, .15);;
							font-size: .8em;
							width: 2.3em;
							height: 2.3em;
							border-radius : 3em;
							transition : box-shadow .25s;
							&.own-by-me {
								border: 0;
								box-shadow : 0 0 0 2px $lightGreen;
							}
						}

						&:hover {
							.avatar-circle {
								box-shadow : 0 1px 1px rgba(0,0,0, .15);
							}
						}
					}
					.dialog-content {
						padding-left: .5em;
					}
				}
			}
		}
	}

	.chatt-input {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		float: none;
		padding: 0 1em;
		.input-content {
			min-width: 25em;
			max-width: 30em;
			margin: 0 auto;
			float: none;
			background: $white;
			padding: .5em 0;
			border: 1px solid rgba(0,0,0, .15);
			position: relative;

			.chatt-register {
				font-size: .8em;
				.anonymous {
					cursor: pointer;
				}
			}

			.anon-name {
				border: 0;
				box-shadow: none;
				padding: 0;
				margin: 0;
				line-height: 2;
				height: auto;
				width: 100%;
			}

			.avatar-container {
				cursor: pointer;
				img {
					border-radius : 3em;
				}
				.avatar-circle {
					display: block;
					text-align: center;
					border: 1px solid rgba(0,0,0, .15);
					padding: .5em .5em .8em;
					border-radius : 3em;
					transition : box-shadow .25s;
				}

				&:hover {
					.avatar-circle {
						box-shadow : 0 1px 1px rgba(0,0,0, .15);
					}
				}
			}
			.chatt-input-text {
				#chatt-entry {
					margin: 0;
					textarea {
						box-shadow : none;
						border: 0;
						padding: 0;
						margin: 0;
						line-height: 1.4em;
						width: 100%;
						resize: none;
					}
				}
			}
			.options {
				position: absolute;
				right: -1.5em;
				top: 0;
				.notification {
					cursor: pointer;
					&.disabled {
						color: $darkGray;
					}
					&.enabled {
						color: $lightBlue;
					}
				}
			}
		}
	}

	

	.app-content {

		position: relative;

		.for-ie {

			position: absolute;

			top: 3em;

			left: 3em;

			width: 150px;

			font-size: .8em;

		}

		.chatt-body-container {

			.chatt-body {
				padding-top: 1em;

				.chatt-dialogs {

					margin: 0;

					padding: 0 0 10em;

					list-style: none;

					.dialog {

						position: relative;

						transition : background .5s linear;

						&.unseen {
							background: $yellow;
						}

						&.guest {
							.dialog-cloud {
								width: 50%;
								border-right: 2px solid rgba(0,0,0, .15);
							}
						}

						&.mine {
							.dialog-cloud {
								width: 50.25%;
								border-left: 2px solid rgba(0,0,0, .15);
							}

						}

						.dialog-cloud {
							padding: 1em 0;
							position: relative;
						}

						.chatter-name {

						   position: absolute;
						   bottom: 1em;
						   font-size: .8em;

						}

						.chatt-dialog {
							width: 100%;
							display: block;
							padding: 1em;
							background: $lightBlue;
						}

						.chatt-time {

						   position: absolute;
						   bottom: 1em;
						   font-size: .8em;
						}

					}

					.new-notification {
						.new-message {
							background: $yellow;
							padding: .5em 1em;
							color: rgba(0,0,0, .35);
						}
					}

				}

			}

		}

		.chatt-input-container {

			position: fixed;

			bottom: 0;

			left: 0;

			right: 0;

			width: 100%;

			padding: 1em 0;

			background: $gray;

			.chatt-input-inner {

				.not-connected {

					font-size: 1.2em;

					color: $red;

				}

				.add-name {

					background: transparent;

					background: #aaa\9;

					padding: 0;

					margin: 0;

					border: 0;

					width: 100%;

					font-size: 2em;

					line-height: 2;

					height: 2em;

					box-shadow : none;

					transition : all .25s linear;

				}

			}

			#chatt-input {

				position: relative;

				.chatt-name {

					position: relative;

					top: 0;

					left: 0;

					line-height: 2;

					margin-right: 2em;

				}

				.chatt-input {

					background: transparent;

					background: #aaa\9;

					padding: 0;

					margin: 0;

					border: 0;

					width: 80%;

					height: 2em;

					box-shadow : none;

					transition : all .25s linear;

				}

				.toggle-text {

					position: absolute;

					right: 0;

					line-height: 2;

					cursor: pointer;

					&.upper {

						color: $lightBlue;
						text-shadow: 0 1px 2px rgba(126, 234, 255, 0.35);
						transition : all .25s ease-in-out;

					}

					&.lower {

						color: $darkGray;
						text-shadow: 0 0 0 transparent;
						transition : all .25s ease-in-out;

					}

					.first-text {

						font-size: .8em;

					}

					.second-text {

						font-size: 1.2em;

					}

				}

				.notification-switch {
					cursor: pointer;
				}

				&.focus {

					.chatt-name {

						// top: 1em;

					}

					.chatt-input {

						line-height: 2;

						font-size: 2em;

						height: 2em;

						padding: 0;

					}

					 &.large {
						 .chatt-input {

							font-size: 1em;

							padding: 0;

						}
					}

				}

			}

		}

	}

}

.transition {

	-webkit-backface-visibility: hidden;

	transition : all 0.3s !important;

	&.from-top {

		opacity: 0;

		transform : translateY(-60%);

	}

	&.from-left {

		opacity: 0;

		transform : translateX(-101%);

	}

	&.center {

		opacity: 1;

		transform : translate3d(0, 0, 0);

	}

	&.superscale {

		transform : scale(2);

	}

	&.scale {

		transform : scale(1);

	}

	&.removing {

		background: $red !important;

		color: $gray;

	}

}