<template name="chatt_page">
	<div class="for-ie"></div>
	<div class="container-fluid">
	    <div class="row-fluid">
	        <div class="chatt-body-container span6 offset3">
	            <header>
	                <h2>{{chatt_name}}</h2>
	            </header>
	            <div class="chatt-body">
	                <ul class="chatt-dialogs">
                        {{#isolate}}
                        {{#each chatt}}
                        <li class="dialog">
                            <span class="chatter-name">
                            {{chatter}} :
                            </span>
                            <span class="chatt-dialog">{{dialog}}</span>
                            <span class="chatt-time">{{time}}</span>
                        </li>
                        {{/each}}
                        {{/isolate}}
	                </ul>
	            </div>
	        </div>
	    </div>
	</div>
	
	<div class="chatt-input-container">
	    <div class="container-fluid">
	        <div class="row-fluid">
                <div class="span6 offset3">
                    <div class="chatt-input-inner {{connected}}">
                        {{#isolate}}
                        {{#if no_name_yet}}
                        <input type="text" class="add-name" placeholder="Your Chatt Name">
                        {{else}}
                        {{#if not_connected}}
                        <div class="not-connected">
                            You're not connected to the internet. The chatto need internet to work.
                        </div>
                        {{else}}
                        <div id="chatt-input" class="{{focus}}">
                            
                            {{#constant}}
                            <span class="chatt-name">@{{chatter_name}}</span>
                            <input type="text" class="chatt-input" placeholder="Type and enter!">
                            {{/constant}}
                        </div>
                        {{/if}}
                        {{/if}}
                        {{/isolate}}
                    </div>
                </div>
	        </div>
	    </div>
	</div>
</template>