<template name="login">
	<div class="login">
		<div id="sign-with-facebook">
			<a class="facebook-button"><i class="icon">7</i>Sign In With Facebook</a>
		</div>
		<span class="separator"></span>
		<form class="form">
			<div class="form-group">
				<input type="email" class="email form-control" spellcheck="false" required placeholder="Email">
			</div>
			<div class="form-group">
				<input type="password" class="password form-control" required placeholder="Password">
			</div>
			<div class="form-group bottom">
				<button class="btn btn-block login-button" type="submit">Login</button>
			</div>
		</form>
	</div>
</template>