<template name="signup">
	<section id="signup">
		<h2>Sign Up</h2>
		<div class="signup">
			<div id="sign-with-facebook">
				<a class="facebook-button">Sign Up With Facebook</a>
			</div>
			<span class="separator">
				Or
			</span>
			<form class="form">
				<p>Sign up with your email</p>
				<div class="form-group">
					<input type="email" class="email" required placeholder="Email">
					<input type="password" class="password" required placeholder="Password">
					<input type="password" class="password confirm" required placeholder="Confirm Password">
				</div>
				<button class="btn" type="submit">Sign Up</button>
			</form>
		</div>
	</section>
</template>